@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    color: #FFFFFF;   
}
.container{
    margin: 8px;
    gap: 6px; 
}

/* Left Container */
.left{
    width: 25vw;
}
.home{
    padding: 12px;
    border-radius: 8px;
}
.home ul li{
    display: flex;
    gap: 24px;
    width: 16px;
    list-style: none;
    padding-top: 16px;
    font-weight: 600;
}
.library{
    margin-top: 8px;
    border-radius: 8px;
    height: 80vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 12px;
    padding: 12px;
}
.heading img{
    width: 24px;
}
.heading p{
    font-size: 18px;
    font-weight: 600;
}
.songList{
    height: 340px;
    overflow-y: auto;
    margin-bottom: 12px;
}
.songList ul{
    padding: 0 28px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    margin: 12px 0;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 6px;
}
.songList .info{
    font-size: 14px;
    width: 344px;
}
.playNow{
    display: flex;
    justify-content: center;
    align-items: center;

}
.playNow span{
    font-size: 12px;
    width: 56px;
}

.footer{
    position: absolute;
    bottom: 0;
    padding: 8px;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    list-style: none;
}
.footer ul li a{
    font-size: 12px;
    color: grey;
    text-decoration: none;
}
.footer div a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer .btn{
    padding: 16px 1px;
}
.footer .btn button{
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #121212;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    gap: 4px;
    align-items: center;
}
.footer .btn button img{
    width: 12px;
}

/* Right Contianer */
.right{
    width: 75vw;
    border-radius: 8px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    border-radius: 8px 8px 0 0;
}
.header > *{
    padding: 12px;
}
.btns >*{
    margin: 0 12px;
}
.signupbtn{
    font-size: 15px;
    font-weight: bold;
    background-color:  #212121;
    color: #888888;
    cursor: pointer;
    border: none;
}
.signupbtn:hover{
    color: #F0F0F0;
    font-size: 16px;
}
.loginbtn{
    background-color: #1fdf64;
    border: none;
    border-radius: 28px;
    width: 78px;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
    transform: scale(1.1)
}
.spotifyPlaylist{
    padding: 16px;
}
.spotifyPlaylist h1{
    font-size: 24px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 28px;
    max-height: 64vh;
    overflow-y: auto;
    
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    position: relative; 
    margin-bottom: 16px;
}
.card:hover{
    background-color: #252525;  
}
.card h2{
    padding-top: 6px;
    font-size: 16px;
    font-weight: 500;
}
.card p{
    padding-top: 8px;
    font-size: 12px;
    color: #888888;

}
.card img{
    width: 100%;
    object-fit: contian;
    border-radius: 4px;
}
.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 12px;
    border: none; 
    position: absolute;
    top: 52%;
    right: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    transform: translateY(16px); 
}
.card:hover .play-btn {
    opacity: 1;
    transform: translateY(0);
}
.play-btn img{
    width: 20px;
    fill: currentColor;
}
.playbar{
    position: fixed;
    bottom: 20px;
    width: 70vw;
    min-height: 40px;
    padding: 8px;
    background: #1fdf64;
    border-radius: 12px;
}
.seekbar{
    height: 4px;
    width: 97%;
    border: 2px solid #000000;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    margin: 4px;
    cursor: pointer;
}
.progress {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #000;
    transition: width 0.5s ease;
    
}
.circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    bottom: 7px;
    left: 0%;
    transition: left 0.5s ease;
}
.barinfo{
    display: flex;
    justify-content: space-between;
}
.songInfo{
    color: #000;
    padding: 0 12px;
    font-size: 14px;
    font-weight: bold;
    width: 250px;
}
.songTime{
    color: #000;
    padding: 0 12px;
    font-size: 14px;
    font-weight: bold;
    width: 125px;
}

.songBtns{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 4px;
    cursor: pointer;
}
.songBtns img{
    filter: drop-shadow(1px 0px 0px #000);
}
.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.volrange {
    width: 0;
    opacity: 0;
}
.volrange input {
    cursor: pointer;
    height: 5px;
    width: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.volume:hover .volrange, .volrange input {
    opacity: 1;
    width: 72px;
}

/* hamburger handling for small screeen */
.close{
    display: none;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburgerCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1200px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all .5s;
        z-index: 1;
        width: 370px;
        background-color: #000;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }
    
    .right {
        width: 100vw;   
    }
    .card{
        width: calc(100vw-64vw);
    }
    .cardContainer{
        justify-content: center;
        max-height: unset;
        overflow-y: unset;
        margin: 28px 0px 20vh;
    }
    .songInfo, .songTime{
        width: auto;
        font-size: 12px;
    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
    .playbar{
       width: 92%;
       height: 60px;
    }
    .seekbar{
        width: 96%;
    }
    .songInfo{
        width: 138px;
    }
    .songBtns{
        gap: 12px;
    }
    .songBtns img{
        width: 32px;
    }
    .hamburger, .close{
        display: block;
    }
    .close{
        position: absolute;
        right: 12px;
        top: 12px;
    }
}

@media (max-width: 588px){
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .btns>* {
        margin: 0 6px;
    }

    .header{
        padding: 6px;
    }
    .library{
        height: 86vh;
    }
    .left{ 
        width: 100vw;
    }
    .footer{
        padding-bottom: 56px;
    }
    .songList{
        height: 310px;
    }

    .playbar{
        width: 86%;
        height: 16vh;
        padding: 4px;
     }
     .seekbar{
         width: 94%;
         bottom: 4px;
     }
     .songInfo, .songTime{
        width: auto;
     }
     .songBtns{
         gap: 6px;
         padding: 0;
     }
     .songBtns img{
         width: 20px;
     }
     .barinfo{
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
     }
     .timevol{
        display: flex;
        flex-direction: column;
        gap: 2px;
     }

}